@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Muli');


/*============

COLORS CHART:
burgundy: #692917
orange-nude: #d99b64
dark-grey: #939598
light-grey: #eeeeee
dark-blue: #00447c
light-blue: #0064b1

IMAGES URL:
 (student-page)
 background-img: "http://ctec4350.mpd0269.uta.cloud/prssa-images/networking.jpg"
 right-btn: "http://ctec4350.mpd0269.uta.cloud/prssa-images/right.png"

 (parent-page)
 cost: "http://ctec4350.mpd0269.uta.cloud/prssa-images/cost.png"
 student-icon: "http://ctec4350.mpd0269.uta.cloud/prssa-images/student-white.png"

 (form)
 exit-btn: "http://ctec4350.mpd0269.uta.cloud/prssa-images/exit-white.png"
 lock-icon: "http://ctec4350.mpd0269.uta.cloud/prssa-images/lock.png"
 next-btn: "http://ctec4350.mpd0269.uta.cloud/prssa-images/next.png"

(others)
facebook-black: "http://ctec4350.mpd0269.uta.cloud/prssa-images/facebook.png"
facebook-white: "http://ctec4350.mpd0269.uta.cloud/prssa-images/fb-white.png"
footer-img: "http://ctec4350.mpd0269.uta.cloud/prssa-images/network.png"
logo: "http://ctec4350.mpd0269.uta.cloud/prssa-images/prssa.png"
twitter-white: "http://ctec4350.mpd0269.uta.cloud/prssa-images/twitter-white-lg.png"
uta-logo: "http://ctec4350.mpd0269.uta.cloud/prssa-images/uta.png"
==========*/


/*============Body Customized==========*/

/*.body {
  margin: 1rem;
  padding: 1rem;
  line-height: normal;
}*/

body {
  margin: 0;
  padding: 0;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h1 {
  font-size: 92.667px;
}

h2 {
  font-size: 55.589px;
}

h3 {
  font-size: 33.347px;
}

h4 {
  font-size: 20.004px;
}

h5 {
  font-size: 12px;
}

/*============End Body Customized==========*/

/*============Navigation==========*/

.nav {
  font-size: 13px;
  background-color: rgb(0,0,0,.6);
    height: 60px;
    width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.nav, .nav a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: auto;
}

.nav a:hover {
  color: #692917;
}

.nav-links a {
  padding: 0 40px;
}

.uta-logo {
  height: 30px;
  width: 30px;
    background-image: url("http://ctec4350.mpd0269.uta.cloud/prssa-images/uta.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.background-img {
  height: 830px;
  width: auto;
    background-image: url("http://ctec4350.mpd0269.uta.cloud/prssa-images/networking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.follow {
  font-size: 10px;
  display: flex;
  align-items: flex-start;
  -webkit-display: flex;
  -webkit-align-items: flex-start;
}

.follow a {
  padding-left: 5px;
}



#twitter {
  height: 15px;
  width: 15px;
    background-image: url("http://ctec4350.mpd0269.uta.cloud/prssa-images/twitter-white.png");
    background-size: contain;
    background-repeat: no-repeat;
  display: inline-block;
  -webkit-display: inline-block;

}

#facebook {
  height: 15px;
  width: 15px;
    background-image: url("http://ctec4350.mpd0269.uta.cloud/prssa-images/fb-white.png");
    background-size: contain;
    background-repeat: no-repeat;
  display: inline-block;
  -webkit-display: inline-block;
}

/*============End Navigation==========*/


/*===== Beginning of Index Page ======*/

.prssa-bg {
  color: white;
  padding-top: 20%;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    text-indent: 5px;
}

.prssa-logo {
  background-image: url("http://ctec4350.mpd0269.uta.cloud/prssa-images/prssa.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

#prssa-text {
  margin-top: 2px;
}



.box-container {
  width: auto;
  color: #ffffff;
}

.main-container{
	box-sizing: border-box;

	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;

}

.main-title {
	background-color: #ffffff;;
	box-sizing: border-box;
	color: #000000;

	flex-direction: column;
	-webkit-flex-direction: column;

	flex-grow: 3;


	text-align: left;
}

.main-pic {
  background-color: #692917;
	box-sizing: border-box;
	padding-top: 1em;
  width:400px;
}

.main-description {
  background-color: #d99b64;
	box-sizing: border-box;
	padding-left: 2em;
	line-height: 1.65;
  padding-bottom: 4em;

	width:100%;
}

.main-title p {
	padding-left: 3em;
}

.main h3 {
	padding-left: 1em;
	margin-bottom: 0;
	text-transform: none;
	color:  #e3752b;
}

.main a {
	text-decoration: none;

}
.main-title h3 a {
	color: #e3752b;

}

.second-container {
  display: flex;
  flex-direction: row;
}


.officers-title {
  background-color: #d99b64;
  width: 400px;
  text-align: center;
  color: #ffffff;
}

.officers {
  background-color: #692917;
  color: #ffffff;
  width: 100%;
}

.officer-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content:space-between;
	-webkit-justify-content: space-around;

	padding: 1em;
  margin-top: 6em;
}

.officer-pic img {
	width: 200px;
	height: 200px;
  margin-left: 5em;
}

.officer-bio {
	text-align: center;
	font-size: 10px;
  color: #ffffff;
}

.officers h2 {
	text-align: center;
	text-transform: none;
	color: #e3752b;
}


.officer-bio p {
	padding-bottom: 5px;
}


.blog {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
}

.blog-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content:space-between;
	-webkit-justify-content: space-around;

  padding-top: 4em;
  padding-bottom: 4em;
}

.blog-pic img {
	width: 200px;
	height: 200px;
  margin-left: 5em;
}

.blog-description {
	text-align: center;
	font-size: 10px;
  color: #000000;
}

.blog h2 {
	text-align: center;
	text-transform: none;
	color: #e3752b;
}


.blog-description p {
	padding-bottom: 5px;
}



.hover-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #ffffff;

}

.hover-color {
  background-color: #d99b64;
  width:400px;
  height:200px;
}


.meeting {
    background-color:  #939598;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ffffff;
}


.networking {
    background-color:  #939598;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ffffff;
}


.career {
    background-color:  #939598;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ffffff;
}


.gallery-container {
  background-color: #eeeeee;
  width: 100%;
  height: 500px;
  padding-bottom: 5em;
}


.boxes-container {
  width: auto;
  color: #ffffff;
}

.box-1{
	box-sizing: border-box;

	display: flex;
	display:-webkit-flex;

	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;

	justify-content: center;
	-webkit-justify-content: center;

}

.box-2 {
	background-color: #ffffff;;
	box-sizing: border-box;
	color: #000000;

	flex-direction: column;
	-webkit-flex-direction: column;

	flex-grow: 3;


	text-align: left;
}

.box-3 {
  background-color: #692917;
	box-sizing: border-box;
	padding-top: 2em;
  width:500px;
  text-align: center;
}

.box-4{
  background-color: #d99b64;
	box-sizing: border-box;
	padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4em;

	width:70%;
}

.box-3 p {
	padding-left: 3em;
}

.box-2 h3 {
	padding-left: 1em;
	margin-bottom: 0;
	text-transform: none;
	color:  #e3752b;
}

.box-2 a {
	text-decoration: none;

}
.box-3 h3 a {
	color: #e3752b;

}


/*===== Ending of Index Page ======*/
