<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Components">
	<meta name="keywords" content="HTML, Components">
	<meta name="author" content="Angie Dinh">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="CSS/components.css">
	<title>components</title>

</head>
<body>


	<div class="nav">
		<div class="uta-logo"></div>
		<div class="nav-links">
			<a href="../typography/typography.html">TYPOGRAPHY</a>
			<a href="../branding/branding.html">BRANDING &amp SETUP</a>
			<a href="../components/components.html">COMPONENTS</a>
			<a href="../documentation/documentation.html">DOCUMENTATION</a>
		</div>
		<div class="follow">

				<div class="follow-inside-container">FOLLOW US --&gt;

				<a href="https://twitter.com/prssauta?lang=en"><div id="twitter"></div></a>
				<a href="https://www.facebook.com/PRSSAUTA/"><div id="facebook"></div></a>
			</div>
		</div>
	</div>



	<h1>COMPONENTS</h1>
	<h2>INFORMATION COMPONENTS</h2>

	<table class="table">
		<thead>
			<tr>
				<th>EXAMPLE</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h2>Title</h2>
					<div class="flex-container">
						<div class="flex-item"><div class="box clinic"></div></div>
						<div class="flex-item"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, metus at venenatis sodales, velit turpis scelerisque ante, vel elementum erat risus at quam. Donec in pharetra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in arcu felis. Vivamus neque ex, pulvinar at vulputate et, dictum ut augue. Mauris interdum, ligula vel auctor molestie, magna nisl viverra diam, id vestibulum ipsum nulla non odio. Duis lobortis nibh et gravida ornare. Vivamus vulputate est vitae nisi pharetra efficitur.</p></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="highlight">
		<code><pre><span class="mk">&lt;h2&gt;</span>Title<span class="mk">&lt;/h2&gt;</span>
<span class="mk">&lt;div</span><span class="class"> class=</span><span class="display">&quot;flex-container&quot;</span><span class="mk">&gt;</span>
  <span class="mk">&lt;div</span><span class="class"> class=</span><span class="display">&quot;flex-item&quot;</span><span class="mk">&gt;</span><span class="mk">&lt;div</span><span class="class"> class=</span><span class="display">&quot;box clinic&quot;</span><span class="mk">&lt;/div&gt;&lt;/div&gt;</span>
  <span class="mk">&lt;div</span><span class="class"> class=</span><span class="display">&quot;flex-item&quot;</span><span class="mk">&gt;&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, metus at venenatis sodales, velit turpis scelerisque ante, vel elementum erat risus at quam. Donec in pharetra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in arcu felis. Vivamus neque ex, pulvinar at vulputate et, dictum ut augue. Mauris interdum, ligula vel auctor molestie, magna nisl viverra diam, id vestibulum ipsum nulla non odio. Duis lobortis nibh et gravida ornare. Vivamus vulputate est vitae nisi pharetra efficitur.<span class="mk">&lt;/p&gt;&lt;/div&gt;</span>
<span class="mk">&lt;/div&gt;</span>
				</pre></code>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>EXAMPLE</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h2>Services</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, metus at venenatis sodales, velit turpis scelerisque ante, vel elementum erat risus at quam. Donec in pharetra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in arcu felis. Vivamus neque ex, pulvinar at vulputate et, dictum ut augue. Mauris interdum, ligula vel auctor molestie, magna nisl viverra diam, id vestibulum ipsum nulla non odio. Duis lobortis nibh et gravida ornare. Vivamus vulputate est vitae nisi pharetra efficitur.</p>
						<table>
							<thead>
								<tr>
									<th>1</th>
									<th>2</th>
									<th>3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

	<div class="highlight">
		<code><pre>
<span class="mk">&lt;h2&gt;</span>Services<span class="mk">&lt;/h2&gt;</span>
<span class="mk">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, metus at venenatis sodales, velit turpis scelerisque ante, vel elementum erat risus at quam. Donec in pharetra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in arcu felis. Vivamus neque ex, pulvinar at vulputate et, dictum ut augue. Mauris interdum, ligula vel auctor molestie, magna nisl viverra diam, id vestibulum ipsum nulla non odio. Duis lobortis nibh et gravida ornare. Vivamus vulputate est vitae nisi pharetra efficitur.<span class="mk">&lt;/p&gt;</span>
 <span class="mk">&lt;table&gt;</span>
  <span class="mk">&lt;thead&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;th&gt;</span>1<span class="mk">&lt;/th&gt;</span>
    <span class="mk">&lt;th&gt;</span>2<span class="mk">&lt;/th&gt;</span>
    <span class="mk">&lt;th&gt;</span>3<span class="mk">&lt;/th&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
  <span class="mk">&lt;/thead&gt;</span>
  <span class="mk">&lt;tbody&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;td&gt;</span>1<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>2<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>3<span class="mk">&lt;/td&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;td&gt;</span>1<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>2<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>3<span class="mk">&lt;/td&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;td&gt;</span>1<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>2<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>3<span class="mk">&lt;/td&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;td&gt;</span>1<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>2<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>3<span class="mk">&lt;/td&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
   <span class="mk">&lt;tr&gt;</span>
    <span class="mk">&lt;td&gt;</span>1<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>2<span class="mk">&lt;/td&gt;</span>
    <span class="mk">&lt;td&gt;</span>3<span class="mk">&lt;/td&gt;</span>
   <span class="mk">&lt;/tr&gt;</span>
  <span class="mk">&lt;/tbody&gt;</span>
 <span class="mk">&lt;/table&gt;</span>
				</pre></code>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>EXAMPLE</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="team">
						<div class="title">
							<div class="flex-item2">
								<h3>Title</h3>
								<div class="box picture"></div>
								<p>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
							<div class="flex-item2">
							<h3>Title</h3>
							<div class="box picture"></div>
							<p>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
						<div class="title">
							<div class="flex-item2">
								<h3>Title</h3>
								<div class="box picture"></div>
								<p>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
							<div class="flex-item2">
								<h3>Title</h3>
								<div class="box picture"></div>
								<p>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>


<div class="highlight">
		<code><pre>
<span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;team&quot;</span>&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;title&quot;</span>&gt;</span>
  <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;flex-item2&quot;</span>&gt;</span>
   <span class="mk">&lt;h3&gt;</span>Title<span class="mk">&lt;/h3&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;box picture&quot;</span>&gt;</span>
   <span class="mk">&lt;p&gt;</span>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="mk">&lt;/p&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
  <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;flex-item2&quot;</span>&gt;</span>
   <span class="mk">&lt;h3&gt;</span>Title<span class="mk">&lt;/h3&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;box picture&quot;</span>&gt;</span>
   <span class="mk">&lt;p&gt;</span>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="mk">&lt;/p&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;title&quot;</span>&gt;</span>
  <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;flex-item2&quot;</span>&gt;</span>
   <span class="mk">&lt;h3&gt;</span>Title<span class="mk">&lt;/h3&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;box picture&quot;</span>&gt;</span>
   <span class="mk">&lt;p&gt;</span>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="mk">&lt;/p&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;flex-item2&quot;</span>&gt;</span>
  <span class="mk">&lt;h3&gt;</span>Title<span class="mk">&lt;/h3&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;box picture&quot;</span>&gt;</span>
   <span class="mk">&lt;p&gt;</span>Maecenas tortor odio, feugiat vitae suscipit sed, blandit eget justo. Pellentesque pellentesque lectus sit amet finibus consectetur. Fusce vel justo quis risus faucibus lacinia. Nam ultrices, dui vitae scelerisque blandit, lectus diam bibendum eros, non laoreet tortor libero id mauris. Integer nec elit ultrices, elementum dui id, suscipit odio. Cras quis tempus odio, a faucibus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="mk">&lt;/p&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
<span class="mk">&lt;/div&gt;</span>
<span class="mk">&lt;/div&gt;</span>
</pre></code>
</div>




<table class="table">
	<thead>
		<tr>
			<th>EXAMPLE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<h2>Articles Component</h2>
				<div class="flex-container">
					<div class="article">
						<h3>Articles</h3>
							<div class="article-container">
								<div class="article-pic">
								  <img src="../placeholder.jpg" alt="imageplaceholder">
									<h4>Article Name</h4>
								</div>
								<div class="article-pic">
								  <img src="../placeholder.jpg" alt="imageplaceholder">
									<h4>Article Name</h4>
								</div>
								<div class="article-pic">
								  <img src="../placeholder.jpg" alt="imageplaceholder">
									<h4>Article Name</h4>
								</div>
								<div class="article-pic">
								  <img src="../placeholder.jpg" alt="imageplaceholder">
									<h4>Article Name</h4>
								</div>
					  	</div>
						</div>
				</div>
					</td>
				</tr>
			</tbody>
</table>


<div class="highlight">
		<code><pre>
<span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;flex-container&quot;</span>&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article&quot;</span>&gt;</span>
   <span class="mk">&lt;h3&gt;</span>Articles<span class="mk">&lt;/h3&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article-container&quot;</span>&gt;</span>
   <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article-pic&quot;</span>&gt;</span>
    <span class="mk">&lt;<span class="mk2">img src=</span><span class="mk3">"imageplaceholder.jpg" alt="imageplaceholder"</span>&gt;</span>
    <span class="mk">&lt;h4&gt;</span>Article Name<span class="mk">&lt;/h4&gt;</span>
  <span class="mk">&lt;/div&gt;</span>
  <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article-pic&quot;</span>&gt;</span>
   <span class="mk">&lt;<span class="mk2">img src=</span><span class="mk3">"imageplaceholder.jpg" alt="imageplaceholder"</span>&gt;</span>
  <span class="mk">&lt;h4&gt;</span>Article Name<span class="mk">&lt;/h4&gt;</span>
 <span class="mk">&lt;/div&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article-pic&quot;</span>&gt;</span>
  <span class="mk">&lt;<span class="mk2">img src=</span><span class="mk3">"imageplaceholder.jpg" alt="imageplaceholder"</span>&gt;</span>
  <span class="mk">&lt;h4&gt;</span>Article Name<span class="mk">&lt;/h4&gt;</span>
 <span class="mk">&lt;/div&gt;</span>
 <span class="mk">&lt;div<span class="class"> class=</span><span class="display">&quot;article-pic&quot;</span>&gt;</span>
  <span class="mk">&lt;<span class="mk2">img src=</span><span class="mk3">"imageplaceholder.jpg" alt="imageplaceholder"</span>&gt;</span>
  <span class="mk">&lt;h4&gt;</span>Article Name<span class="mk">&lt;/h4&gt;</span>
<span class="mk">&lt;/div&gt;</span>
<span class="mk">&lt;/div&gt;</span>
<span class="mk">&lt;/div&gt;</span>
</pre></code>
</div>

</body>

<div class="footer-extension">
  <div class="footer-image">
    <div class="dawg">
      <div class="footer-meeting">
        <div id="footer-logo"></div>
          <a name="contact">
            <h5 class="meeting-title">MEETING LOCATION:</h5>
          </a>
            Fine Arts Bldg. Rm#122 <br/>
            Every Other Thursday @3:30pm

        <div class="social-link">
          <a href="https://twitter.com/prssauta?lang=en"><div class="social-tw"></div></a>
          <a href="https://www.facebook.com/PRSSAUTA/"><div class="social-fb"></div></a>
        </div>
      </div>
      <div class="links">
        <a href="#events">Events</a>
        <a href="officers">Officers</a>
        <a href="blog">Blog</a>

    <hr align="left" width="30%">

        <a href="#">Parents</a>
        <a href="#">Donations</a>
      </div>
    </div>
  </div>
  <div class="footer-footer">
     © 2017 by The University of Texas at Arlington Public Relations Student Society of America
  </div>
</div>

</html>
